{%extends 'layout.html'%}
{% block content%}

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="icon_close"></span>
        </div>
        <div class="logo">
           <a  href="{{ url_for('main.home') }}">

                  <img src="{{ url_for('static', filename='img/logo.png') }}">
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="om-widget">

               <a class="hw-btn"  href="{{ url_for('main.property_submit') }}">Submit property</a>
        </div>
        <div class="om-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Wrapper End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="hs-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a  href="{{ url_for('main.home') }}">
                            <img alt="" src="{{ url_for('static', filename='img/logo.png') }}"></a>

                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="ht-widget">

                               <a class="hw-btn"  href="{{ url_for('main.property_submit') }}">Submit property</a>
                        </div>
                    </div>
                </div>
                <div class="canvas-open">
                    <span class="icon_menu"></span>
                </div>
            </div>
        </div>
        <div class="hs-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <nav class="nav-menu">
                            {% if current_user.is_authenticated%}

                                <h6>{{current_user.first_name}} {{current_user.last_name}}</h6>
                            {% endif %}
                            <ul>
                                <li><a  href="{{ url_for('main.home') }}">Home</a></li>
                                <li><a href="#">Properties</a>
                                    <ul class="dropdown">
                                        <li><a  href="{{ url_for('main.property_list') }}">Property Grid</a></li>

                                          <li><a  href="{{ url_for('main.property_comparison') }}">Property Comperison</a></li>
                                        <li><a  href="{{ url_for('main.property_submit') }}">Property Submit</a></li>
                                    </ul>
                                </li>
                                     <li><a  href="{{ url_for('agent.agents') }}">Owners/Agents</a></li>
                             {% if not current_user.is_authenticated%}
                                <li><a  href="{{ url_for('agent.register') }}">Register as an Owner/Agent</a></li>
                                 <li><a  href="{{ url_for('agent.login') }}">Login <i class="fa fa-user"></i></a></li>
                                {%endif%}
                                <li><a href="./blog.html">Blog</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                                 {% if current_user.is_authenticated%}
 <li><a  href="{{ url_for('agent.logout') }}">Logout</a></li>
                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="hn-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section spad set-bg" data-setbg="{{  url_for('static', filename= 'img/breadcrumb-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h4>Owners/Agents</h4>
                        <div class="bt-option">
                            <a  href="{{ url_for('main.home') }}"><i class="fa fa-home"></i> Home</a>
                            <span>Agents</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Agent Section Begin -->
    <section class="agent-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="agent-search-form">
                        <form action="#">
                            <input type="text" id="livebox" placeholder="Find agent by Name or Email address">
                                  </form>
                         <span id="datalist" ></span>
                        <script src="{{ url_for('static', filename='ajax.js') }}"></script>
<script src="{{ url_for('static', filename='agent_search.js') }}">

</script>
                    </div>
                </div>
            </div>
            <div class="as-slider owl-carousel">
                     {%for agt in agent.items%}
                <div class="row">

                    <div class="col-lg-4 col-md-6">

                        <div class="as-item">
                            <div class="as-pic">

                                <img src="{{  url_for('static', filename= 'Apartment_pics/' + agt.agent_image_file) }}">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>{{agt.first_name}} {{agt.last_name}}</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>{{agt.total}}</span></li>
                                    <li>Email <span>{{agt.email}}</span></li>
                                    <li>Phone <span>{{agt.phone_no}}</span></li>
                                </ul>
                                <a  href="{{ url_for('agent.profile', agent_name=agt.first_name, agent_last_name=agt.last_name) }}">View profile</a>
                            </div>
                        </div>

                    </div>

                </div>
                {% endfor %}

{% if agent.has_prev %}
         <div class="col-lg-12">
                    <div class="loadmore-btn">
        <a class="btn btn-outline-info" href="{{ url_for('agent.profile',agent_first_name=agent.first_name, agent_last_name= agent.last_name, page=agent.prev_num) }}"> Newer </a>{% else %}

            </div>
        </div>
                {% endif %}
{% if agent.has_next %}
         <div class="col-lg-12">
                    <div class="loadmore-btn">
        <a class="btn btn-outline-info" href="{{ url_for('agent.profile', agent_first_name=agent.first_name, agent_last_name= agent.last_name,  page=agent.next_num) }}"> Older </a>{% else %}

            </div>
        </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Agent Section End -->

  {%endblock content%}