{%extends 'layout.html'%}
{% block content%}

<style>
    input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



input[type=submit]:hover {
  background-color: #45a049;
}


</style>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

            <h4 >Welcome! </h4>


      </div>
      <div class="modal-body">
          <span style="font-size: 12px;"> Please enter your social media user handle to enable potential clients reach you quickly.
       </span>

              <form action="" style="margin-top: 1rem;" method="post">
                  <label for="facebook">Facebook Username
        {{form.facebook(class="btn-inline")}}
                  </label>
          <br>
                  <label for="twitter">Twitter Username
          {{ form.twitter }}
                  </label>
                  <br>
          {{ form.submit(class="btn btn-outline-info") }}
              </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="icon_close"></span>
        </div>
        <div class="logo">
            <a  href="{{ url_for('main.home') }}">
                 <h2>Souia</h2>
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="om-widget">

               <a class="hw-btn"  href="{{ url_for('main.property_submit') }}">Submit property</a>
        </div>
        <div class="om-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Wrapper End -->

<style>
    .dek{
    float: right;
    }
</style>
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="hs-slider owl-carousel">
                {%for apt in apartment%}
                <div class="hs-item set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + apt.image_file) }}">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hc-inner-text">
                                <div class="hc-text">
                                    <h4>{{apt.apartment_name}}</h4>
                                    <p><span class="icon_pin_alt"></span> {{apt.location}}, {{apt.city}} {{apt.country}}</p>
                                    <div class="label">{{apt.property_status}}</div>
                                    {% if apt.price_label == 'full sale' %}
                                    <h5>$ {{apt.price}}</h5>
                                    {% else %}
                                    <h5>$ {{apt.price}}<span>/{{apt.price_label}}</span></h5>
                                    {% endif %}
                                </div>
                                <div class="hc-widget">
                                    <ul>
                                        <li><i class="fa fa-object-group"></i> {{apt.area_size}}</li>
                                        <li><i class="fa fa-bathtub"></i> {{apt.no_of_bathrooms}}</li>
                                        <li><i class="fa fa-bed"></i> {{apt.no_of_bedrooms}}</li>
                                        <li><i class="fa fa-automobile"></i> {{apt.no_of_garages}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                        </div>
                    </div>

    </section>
    <!-- Hero Section End -->

    <!-- Search Section Begin -->
    <section class="search-section spad">
        <div class="container">
            <div class="row">

                <div class="col-lg-7">
                    <div class="section-title">
                        <h4>Where would you rather live?</h4>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="change-btn">
                        <div class="cb-item">
                            <label for="cb-rent" class="active">
                                Quick Search Properties
                                <input type="radio" id="cb-rent">
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="search-form-content">
                <form action="/search" method="post" class="filter-form">

                    <input class="btn btn-outline-info" type="text" id="livebox" placeholder="city">


                         <select id="select_val" >
                        <option value="house">House</option>
                    <option value="apartment">Apartment</option>
                             <option value="office">Office</option>
                             <option value="hotel">Hotel</option>
                    <option value="store">Store</option>
                    </select>
                    <br>
                    <br>
                        <section  id="facet-price-range-slider" >

                            <input  type="range" id="slider" name="range-1"  value="10" min="0.0" max="1000000" step="1000" />


                             <input  type="range" id="slider2" name="range-2"  value="10" min="0.0" max="5000000" step="1000" />


</section>
<div style="display:none;" class="slider"> $<span id="slider_value"></span></div >
               <div style="display:none;"  class="slider"> $<span id="slider_value2"></span></div >
                </form>
                    <main class="main">
  <div class="container">
                    <button id="cliq" type="button" class="open-modal" data-open="modal-signup">Search</button>

    <div class="modal" id="modal-signup">
      <div class="modal-dialog">
        <div style="cursor: pointer;" class="modal-header">

          <button  type="button" class="close-modal" data-close><i class="fa fa-window-close"></i></button>
        </div>
        <div class="modal-content">
          <span id="datalist" ></span>
        </div>
      </div>
    </div>
  </div>
</main>

                <script src="{{ url_for('static', filename='ajax.js') }}"></script>
<script src="{{ url_for('static', filename='search.js') }}"></script>

                <script src="{{ url_for('static', filename='modal_design.js') }}"></script>
<script>
    $(document).ready(function(){
     $("#select_val").change(function(){

        text4 = $("#select_val option:selected").val();
console.log(text4);


    });
  });


</script>

            </div>
        </div>
    </section>
    <!-- Search Section End -->





    <!-- Property Section Begin -->
     <section class="property-section latest-property-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title">
                        <h4>Latest PROPERTY</h4>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="property-controls">
                        <ul>
                            <li data-filter="all">All</li>
                            <li data-filter=".apart">Apartment</li>
                            <li data-filter=".house">House</li>
                            <li data-filter=".office">Office</li>
                            <li data-filter=".hotel">Hotel</li>
                            <li data-filter=".restaurent">Store</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row property-filter">




                {%for lat in latest_apt%}
                <div class="col-lg-4 col-md-6 mix apart">
                    <div class="property-item">

                        <div class="pi-pic set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + lat.image_file) }}" >

                            <div class="label">{{lat.property_status}}</div>
                        </div>
                        <div class="pi-text">

                            <a class="cas">{{lat.love}} love this</a>
                            {% if lat.price_label == 'full sale' %}
                                    <div class="pt-price">${{lat.price}}</div>
                                    {% else %}
                                   <div class="pt-price">${{lat.price}}<span>/{{lat.price_label}}</span></div>
                                    {% endif %}
                              <h5><a  href="{{ url_for('main.property_details', public_id=lat.public_id) }}">{{lat.apartment_name}}</a></h5>

                            <p><span class="icon_pin_alt"></span> {{lat.location}}, {{lat.city}} {{lat.country}}</p>
                            <ul>
                                <li><i class="fa fa-object-group"></i>{{lat.area_size}}</li>
                                <li><i class="fa fa-bathtub"></i> {{lat.no_of_bathrooms}}</li>
                                <li><i class="fa fa-bed"></i> {{lat.no_of_bedrooms}}</li>
                                <li><i class="fa fa-automobile"></i> {{lat.no_of_garages}}</li>
                            </ul>
                            <div class="pi-agent">
                                <div class="pa-item">
                                    <div class="pa-info">

                                         <img alt="" src="{{  url_for('static', filename= 'Apartment_pics/' + lat.broker.agent_image_file) }}">
                                        <h6><a  href="{{ url_for('agent.profile', agent_name=lat.broker.first_name, agent_last_name=lat.broker.last_name) }}">{{lat.broker.first_name}} {{lat.broker.last_name}}</a></h6>
                                    </div>
                                    <div class="pa-text">
                                        {{lat.broker.phone_no}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {%endfor%}

                {%for lat in latest_house%}
                <div class="col-lg-4 col-md-6 mix  house">
                    <div class="property-item">

                        <div class="pi-pic set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + lat.image_file) }}">


                            <div class="label">{{lat.property_status}}</div>
                        </div>
                        <div class="pi-text">
                            <a class="cas">{{lat.love}} love this</a>
                            {% if lat.price_label == 'full sale' %}
                                    <div class="pt-price">${{lat.price}}</div>
                                    {% else %}
                                   <div class="pt-price">${{lat.price}}<span>/{{lat.price_label}}</span></div>
                                    {% endif %}
                            <h5><a  href="{{ url_for('main.property_details', public_id=lat.public_id) }}">{{lat.apartment_name}}</a></h5>

                            <p><span class="icon_pin_alt"></span> {{lat.location}}, {{lat.city}} {{lat.country}}</p>
                            <ul>
                                <li><i class="fa fa-object-group"></i>{{lat.area_size}}</li>
                                <li><i class="fa fa-bathtub"></i> {{lat.no_of_bathrooms}}</li>
                                <li><i class="fa fa-bed"></i> {{lat.no_of_bedrooms}}</li>
                                <li><i class="fa fa-automobile"></i> {{lat.no_of_garages}}</li>
                            </ul>
                            <div class="pi-agent">
                                <div class="pa-item">
                                    <div class="pa-info">

                                           <img alt="" src="{{  url_for('static', filename= 'Apartment_pics/' + lat.broker.agent_image_file) }}">
                                        <h6><a  href="{{ url_for('agent.profile', agent_name=lat.broker.first_name, agent_last_name=lat.broker.last_name) }}">{{lat.broker.first_name}} {{lat.broker.last_name}}</a></h6>
                                    </div>
                                    <div class="pa-text">
                                        {{lat.broker.phone_no}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {%endfor%}

                {% for lat in latest_office%}
                <div class="col-lg-4 col-md-6 mix office">
                    <div class="property-item">
                        <div class="pi-pic set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + lat.image_file) }}">


                            <div class="label c-red">{{lat.property_status}}</div>
                        </div>
                        <div class="pi-text">
                           <a class="cas">{{lat.love}} love this</a>
                            {% if lat.price_label == 'full sale' %}
                                    <div class="pt-price">${{lat.price}}</div>
                                    {% else %}
                                   <div class="pt-price">${{lat.price}}<span>/{{lat.price_label}}</span></div>
                                    {% endif %}
                            <h5><a  href="{{ url_for('main.property_details', public_id=lat.public_id) }}">{{lat.apartment_name}}</a></h5>

                            <p><span class="icon_pin_alt"></span> {{lat.location}}, {{lat.city}} {{lat.country}}</p>
                             <ul>
                                <li><i class="fa fa-object-group"></i>{{lat.area_size}}</li>
                                <li><i class="fa fa-bathtub"></i> {{lat.no_of_bathrooms}}</li>
                                <li><i class="fa fa-bed"></i> {{lat.no_of_bedrooms}}</li>
                                <li><i class="fa fa-automobile"></i> {{lat.no_of_garages}}</li>
                            </ul>
                            <div class="pi-agent">
                                <div class="pa-item">
                                    <div class="pa-info">

                                           <img alt="" src="{{  url_for('static', filename= 'Apartment_pics/' + lat.broker.agent_image_file) }}">
                                        <h6><a  href="{{ url_for('agent.profile', agent_name=lat.broker.first_name, agent_last_name=lat.broker.last_name) }}">{{lat.broker.first_name}} {{lat.broker.last_name}}</a></h6>
                                    </div>
                                    <div class="pa-text">
                                        {{lat.broker.phone_no}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {%for lat in latest_rest%}
                <div class="col-lg-4 col-md-6 mix  restaurent">
                    <div class="property-item">
                        <div class="pi-pic set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + lat.image_file) }}">
                            <div class="label c-magenta">{{lat.property_status}}</div>
                        </div>
                        <div class="pi-text">
                            <a class="cas">{{lat.love}} love this</a>
                            {% if lat.price_label == 'full sale' %}
                                    <div class="pt-price">${{lat.price}}</div>
                                    {% else %}
                                   <div class="pt-price">${{lat.price}}<span>/{{lat.price_label}}</span></div>
                                    {% endif %}
                            <h5><a  href="{{ url_for('main.property_details', public_id=lat.public_id) }}">{{lat.apartment_name}}</a></h5>
                            <p><span class="icon_pin_alt"></span> {{lat.location}}, {{lat.city}} {{lat.country}}</p>
                             <ul>
                                 <li><i class="fa fa-object-group"></i>{{lat.area_size}}</li>
                                <li><i class="fa fa-bathtub"></i> {{lat.no_of_bathrooms}}</li>
                                <li><i class="fa fa-bed"></i> {{lat.no_of_bedrooms}}</li>
                                <li><i class="fa fa-automobile"></i> {{lat.no_of_garages}}</li>
                            </ul>
                            <div class="pi-agent">
                                <div class="pa-item">
                                    <div class="pa-info">
                                         <img alt="" src="{{  url_for('static', filename= 'Apartment_pics/' + lat.broker.agent_image_file) }}">
                                        <h6><a  href="{{ url_for('agent.profile', agent_name=lat.broker.first_name, agent_last_name=lat.broker.last_name) }}">{{lat.broker.first_name}} {{lat.broker.last_name}}</a></h6>
                                    </div>
                                    <div class="pa-text">
                                        {{lat.broker.phone_no}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {%for lat in latest_store%}
                <div class="col-lg-4 col-md-6 mix   hotel">
                    <div class="property-item">
                        <div class="pi-pic set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + lat.image_file) }}">


<div class="label c-magenta">{{lat.property_status}}</div>
                        </div>
                        <div class="pi-text">
                            <a class="cas">{{lat.love}} love this</a>
                            {% if lat.price_label == 'full sale' %}
                                    <div class="pt-price">${{lat.price}}</div>
                                    {% else %}
                                   <div class="pt-price">${{lat.price}}<span>/{{lat.price_label}}</span></div>
                                    {% endif %}
                            <h5><a  href="{{ url_for('main.property_details', public_id=lat.public_id) }}">{{lat.apartment_name}}</a></h5>

                            <p><span class="icon_pin_alt"></span> {{lat.location}}, {{lat.city}} {{lat.country}}</p>
                             <ul>
                                 <li><i class="fa fa-object-group"></i>{{lat.area_size}}</li>
                                <li><i class="fa fa-bathtub"></i> {{lat.no_of_bathrooms}}</li>
                                <li><i class="fa fa-bed"></i> {{lat.no_of_bedrooms}}</li>
                                <li><i class="fa fa-automobile"></i> {{lat.no_of_garages}}</li>
                            </ul>
                            <div class="pi-agent">
                                <div class="pa-item">
                                    <div class="pa-info">
                                         <img alt="" src="{{  url_for('static', filename= 'Apartment_pics/' + lat.broker.agent_image_file) }}">
                                        <h6><a  href="{{ url_for('agent.profile', agent_name=lat.broker.first_name, agent_last_name=lat.broker.last_name) }}">{{lat.broker.first_name}} {{lat.broker.last_name}}</a></h6>
                                    </div>
                                    <div class="pa-text">
                                        {{lat.broker.phone_no}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </section>
    <!-- Property Section End -->


    <!-- Feature Property Section Begin -->
    <section class="feature-property-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-0">
                    <div class="feature-property-left">
                        <div class="section-title">
                            <h4>Featured Properties</h4>
                        </div>
                        <ul>
                            <li>Apartment</li>
                            <li>House</li>
                            <li>Office</li>
                            <li>Hotel</li>
                             <li>Store</li>
                        </ul>
                        <a href="{{ url_for('main.property_list') }}">View all properties</a>
                    </div>
                </div>
                {% if rand_apt %}
                <div class="col-lg-8 p-0">
                    <div class="fp-slider owl-carousel">
                        <div class="fp-item set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + rand_apt.image_file2) }}">
                            <div class="fp-text">
                                <h5 class="title"><span style="text-transform: capitalize;">{{rand_apt.property_type[0]}}</span>{{rand_apt.property_type[1:]}} in {{rand_apt.neighbourhood}}</h5>
                                <p><span class="icon_pin_alt"></span>{{rand_apt.location}}, {{rand_apt.city}}, {{rand_apt.country}} {{rand_apt.postal_code}}</p>
                                <div class="label">{{rand_apt.property_status}}</div>


                                {% if rand_apt.price_label == 'full sale' %}
                                    <div class="pt-price">${{rand_apt.price}}</div>
                                    {% else %}
                                   <div class="pt-price">${{rand_apt.price}}<span>/{{rand_apt.price_label}}</span></div>
                                    {% endif %}
                                <ul>
                                    <li><i class="fa fa-object-group"></i> {{rand_apt.area_size}}</li>
                                    <li><i class="fa fa-bathtub"></i>{{rand_apt.no_of_bathrooms}}</li>
                                    <li><i class="fa fa-bed"></i> {{rand_apt.no_of_bedrooms}}</li>
                                    <li><i class="fa fa-automobile"></i> {{rand_apt.no_of_garages}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="fp-item set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + rand_apt2.image_file2) }}">
                            <div class="fp-text">
                                <h5 class="title"><span style="text-transform: capitalize;">{{rand_apt2.property_type[0]}}</span>{{rand_apt2.property_type[1:]}} in {{rand_apt2.neighbourhood}}</h5>
                                <p><span class="icon_pin_alt"></span> {{rand_apt2.location}}, {{rand_apt2.city}}, {{rand_apt2.country}} {{rand_apt2.postal_code}}</p>
                                <div class="label">{{rand_apt2.property_status}}</div>
                                {% if rand_apt2.price_label == 'full sale' %}
                                    <div class="pt-price">${{rand_apt2.price}}</div>
                                    {% else %}
                                   <div class="pt-price">${{rand_apt2.price}}<span>/{{rand_apt2.price_label}}</span></div>
                                    {% endif %}
                                <ul>
                                   <li><i class="fa fa-object-group"></i> {{rand_apt2.area_size}}</li>
                                    <li><i class="fa fa-bathtub"></i>{{rand_apt2.no_of_bathrooms}}</li>
                                    <li><i class="fa fa-bed"></i> {{rand_apt2.no_of_bedrooms}}</li>
                                    <li><i class="fa fa-automobile"></i> {{rand_apt2.no_of_garages}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {%endif%}
            </div>
        </div>
    </section>
    <!-- Feature Property Section End -->

    <!-- Team Section Begin -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="section-title">
                        <h6>Agents/Owners in your location</h6>
                    </div>
                </div>

            </div>
            <div class="row">
                {% for lat in agent %}
                <div class="col-md-4">
                    <div class="ts-item">
                        <div class="ts-text">

                              <img alt="" src="{{  url_for('static', filename= 'Apartment_pics/' + lat.agent_image_file) }}">
                            <h5><a  href="{{ url_for('agent.profile', agent_name=lat.first_name, agent_last_name=lat.last_name) }}">{{lat.first_name}} {{lat.last_name}}</a></h5>
                            <span>{{lat.phone_no}}</span>
                             <div class="ts-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Categories Section Begin -->
    <section class="categories-section">
        <div class="cs-item-list">
            <div class="cs-item set-bg" data-setbg="static/img/categories/cat-1.jpg">
                <div class="cs-text">
                     <a href="{{ url_for('main.type', property_type='apartment') }}">Apartment</a>
                    <span>{{apt.total}} </span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="static/img/categories/cat-2.jpg">
                <div class="cs-text">
                    <a href="{{ url_for('main.type', property_type='house') }}">House</a>
                    <span>{{house.total}} </span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="static/img/categories/cat-3.jpg">
                <div class="cs-text">
                    <a href="{{ url_for('main.type', property_type='office') }}">Office</a>
                    <span>{{office.total}} </span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="static/img/categories/cat-4.jpg">
                <div class="cs-text">
                    <a href="{{ url_for('main.type', property_type='resturant') }}">Store</a>
                    <span>{{resturant.total}} </span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="static/img/categories/cat-5.jpg">
                <div class="cs-text">
                   <a href="{{ url_for('main.type', property_type='store') }}">Hotel</a>
                    <span>{{store.total}} </span>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->


{% endblock content%}