{%extends 'layout.html'%}
{% block content%}



    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="icon_close"></span>
        </div>
        <div class="logo">
            <a  href="{{ url_for('main.home') }}">
 <h2>Souia</h2>
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="om-widget">

              <a class="hw-btn"  href="{{ url_for('main.property_submit') }}">Submit property</a>
        </div>

    </div>
    <!-- Offcanvas Menu Wrapper End -->



    <!-- Property Details Section Begin -->
    <section class="property-details-section">
        <div class="property-pic-slider owl-carousel">
            <div class="ps-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12 p-0">
                                    <div class="ps-item-inner large-item set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + apartment.image_file) }}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-sm-6 p-0">
                                    <div class="ps-item-inner set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + apartment.image_file2) }}"></div>
                                </div>
                                <div class="col-sm-6 p-0">
                                    <div class="ps-item-inner set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + apartment.image_file3) }}"></div>
                                </div>
                                <div class="col-sm-6 p-0">
                                    <div class="ps-item-inner set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + apartment.image_file4) }}"></div>
                                </div>
                                <div class="col-sm-6 p-0">
                                    <div class="ps-item-inner set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + apartment.image_file5) }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ps-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12 p-0">
                                    <div class="ps-item-inner large-item set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + apartment.image_file6) }}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-sm-6 p-0">
                                    <div class="ps-item-inner set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + apartment.image_file7) }}"></div>
                                </div>
                                <div class="col-sm-6 p-0">
                                    <div class="ps-item-inner set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + apartment.image_file8) }}"></div>
                                </div>
                                <div class="col-sm-6 p-0">
                                    <div class="ps-item-inner set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + apartment.image_file9) }}"></div>
                                </div>
                                <div class="col-sm-6 p-0">
                                    <div class="ps-item-inner set-bg" data-setbg="{{  url_for('static', filename= 'Apartment_pics/' + apartment.image_file0) }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pd-text">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="pd-title">
                                    <a  href="{{ url_for('main.compare', apartment_name=apartment.apartment_name) }}" style="float:right;" ><button class="btn btn-outline-info">Compare <i class="fa fa-plus"></i></button></a>
                                    <div class="label">{{apartment.property_status}}</div>

                                     {% if apartment.price_label == 'full sale' %}
                                    <div class="pt-price">${{apartment.price}}</div>
                                    <br>
                                    {% if apartment.second_price%}
                                    <div class="pt-price"><del>${{apartment.second_price}}</del></div>
                                        {%endif%}
                                       {% else %}
                                   <div class="pt-price">${{apartment.price}}<span>/{{apartment.price_label}}</span></div>
                                   <br>
                                      {% if apartment.second_price%}
                                    <div class="pt-price"><del>${{apartment.second_price}}<span>/{{apartment.price_label}}</span></del></div>
                                              {%endif%}
                                    {% endif %}
                                    <h3><span style="text-transform: capitalize;">{{apartment.property_type[0]}}</span>{{apartment.property_type[1:]}} in {{apartment.neighbourhood}}</h3>
                                    <p><span class="icon_pin_alt"></span>{{apartment.country}}, {{apartment.city}}, {{apartment.address}} {{apartment.postal_code}}</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="pd-social">

                                    <a  data-open="modal-signup" id="send"><i class="fa fa-send"></i></a>
                                    <span id="count">{{apartment.love}}</span>
                                    <a id="target"> <i  class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-cloud-download"></i></a>

                                </div>
                            </div>
                        </div>
                                                <main class="main">
  <div class="container">

    <div class="modal" id="modal-signup">
      <div class="modal-dialog">
        <div style="cursor: pointer;" class="modal-header">

          <button  type="button" class="close-modal" data-close><i class="fa fa-window-close"></i></button>
        </div>
        <div class="modal-content">
          <span id="datalist" ><input type="text"></span>
        </div>
      </div>
    </div>
  </div>
</main>
                                              <script src="{{ url_for('static', filename='ajax.js') }}"></script>
 <script src="{{ url_for('static', filename='modal_design.js') }}"></script>

                        <script>
      $(document).ready(function(){
$( "#target" ).on('click',function(){
$('#count').html(function(i, val) {
{ return val*1+1 }
});
    text=$("#count").html();
$( "#target" ).off('click');
  $.ajax({
                method: "post",
                url: '/property/detail/love/{{apartment.public_id}}',
                data: {text: text},
                success: function(res){
                console.log(res);
                }
                });

                 });
});
$( "#send" ).on('click',function(){
$.ajax({
                method: "get",
                url: '/share/{{ apartment.public_id }}',

                success: function(res){

                var data ;

                data =  $(location).attr('href') ;
                console.log(data);

                $("#datalist").html(data);
            }
          });
});
                </script>
                        <div class="pd-board">
                            <div class="tab-board">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Overview</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Amenities</a>
                                    </li>
                                </ul><!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                        <div class="tab-details">
                                            <ul class="left-table">
                                                <li>
                                                    <span class="type-name">Property Type</span>
                                                    <span class="type-value">{{apartment.property_type}}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">Property ID</span>
                                                    <span class="type-value">#{{apartment.property_id}}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">Price</span>

                                                     {% if apartment.price_label == 'full sale' %}
                                                    <span class="type-value">${{apartment.price}}</span>
                                    {% else %}
                                                    <span class="type-value">${{apartment.price}}<span>/{{apartment.price_label}}</span></span>
                                    {% endif %}
                                                </li>
                                                <li>
                                                    <span class="type-name">Year Built</span>
                                                    <span class="type-value">{{apartment.year_built}}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">Contract type</span>
                                                    <span class="type-value">{{apartment.property_status}}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">Agent/Owner</span>
                                                    <span class="type-value"><a  href="{{ url_for('agent.profile', agent_name=apartment.broker.first_name, agent_last_name=apartment.broker.last_name) }}">{{apartment.broker.first_name}} {{apartment.broker.last_name}}</a></span>
                                                </li>
                                            </ul>
                                            <ul class="right-table">
                                                <li>
                                                    <span class="type-name">Home Area</span>
                                                    <span class="type-value">{{apartment.area_size}} {{apartment.size_prefix}}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">Rooms</span>
                                                    <span class="type-value">{{apartment.no_of_bedrooms + apartment.no_of_bathrooms}}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">Bedrooms</span>
                                                    <span class="type-value">{{apartment.no_of_bedrooms}}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">Bathrooms</span>
                                                    <span class="type-value">{{apartment.no_of_bathrooms}}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">Garages</span>
                                                    <span class="type-value">{{apartment.no_of_garages}}</span>
                                                </li>
                                                <li>
                                                    <span class="type-name">Location</span>
                                                    <span class="type-value">{{apartment.location}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                                        <div class="tab-desc">
                                            {{apartment.description}}
                                            </div>
                                    </div>
                                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                                        <div class="tab-details">
                                            <ul class="left-table">


                                <li>
                                    <span class="type-name">Air conditioning</span>
                                    {% if apartment.air_conditioning == True%}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                                    <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                <li>
                                   <span class="type-name">Laundry</span>
                                    {% if apartment.laundry == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                                    <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                <li>
                                    <span class="type-name">Refrigerator</span>
                                    {% if apartment.refrigerator == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}


                                </li>
                                <li>
                                    <span class="type-name">Washer</span>
                                    {% if apartment.washer == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                <li>
                                    <span class="type-name">Balcony</span>
                                    {% if apartment.barbecue == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                <li>
                                    <span class="type-name">Lawn</span>
                                    {% if apartment.lawn==True%}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                <li>
                                    <span class="type-name">Dryer</span>
                                    {%if apartment.dryer == True%}
                                   <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                      {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                <li>
                                   <span class="type-name">Fireplace</span>
                                    {% if apartment.villa == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                <li>
                                    <span class="type-name">Swimming pool</span>
                                    {% if apartment.swimming_pool == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                                 <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </li>
                                <li>
                                    <span class="type-name">Gym</span>
                                    {% if apartment.gym == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                <li>
                                    <span class="type-name">Outdoor Shower</span>
                                    {%if apartment.outdoor_shower ==True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                <li>
                                    <span class="type-name">Window Coverings</span>
                                    {% if apartment.window_coverings == True%}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                <li>
                                    <span class="type-name">Tv Cable</span>
                                    {% if apartment.tv_cable == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                   {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                <li>
                                    <span class="type-name">Wifi</span>
                                    {% if apartment.wifi == True%}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                 {%else%}
                                   <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                            <li>
                                    <span class="type-name">Sauna</span>
                                    {% if apartment.sauna == True%}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                 {%else%}
                                   <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}

                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pd-widget">
                            <h4>Floor plans</h4>

                            <img alt="" src="{{  url_for('static', filename= 'Apartment_pics/' + apartment.floor_plan_file) }}">
                        </div>
                        <div class="pd-widget">
                            <h4>Accessibility</h4>
                            <div class="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735515.5813275519!2d-80.41163541934742!3d43.93644386501528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a55bbf3de23d7%3A0x3ada5af229b47375!2sMono%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sbd!4v1583262687289!5m2!1sen!2sbd" height="350" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                            <div class="map-location">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="ml-item">
                                            <div class="ml-single-item">
                                                <h6>Hospital <span>( <i class="fa fa-location-arrow"></i> 5 km )</span></h6>
                                                <p>Portland Ave Rochester, NY 14621</p>
                                            </div>
                                            <div class="ml-single-item">
                                                <h6>School <span>( <i class="fa fa-location-arrow"></i> 8 km )</span></h6>
                                                <p>Cragin Elementary School</p>
                                            </div>
                                            <div class="ml-single-item">
                                                <h6>Supermarket <span>( <i class="fa fa-location-arrow"></i> 2 km )</span></h6>
                                                <p>Exceptional Shoes & Clothing</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="ml-item">
                                            <div class="ml-single-item">
                                                <h6>Police Station <span>( <i class="fa fa-location-arrow"></i> 3 km )</span></h6>
                                                <p>Besst at laundry</p>
                                            </div>
                                            <div class="ml-single-item">
                                                <h6>Saloon <span>( <i class="fa fa-location-arrow"></i> 5 km )</span></h6>
                                                <p>Boomerang Barber & Beauty</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pd-widget">
                            <h4>Agent/Owner</h4>
                            <div class="pd-agent">
                                <div class="agent-pic">

                                      <img alt="" src="{{  url_for('static', filename= 'Apartment_pics/' + apartment.broker.agent_image_file) }}">
                                </div>
                                <div class="agent-text">
                                    <div class="at-title">
                                        <h6>{{apartment.broker.first_name}} {{apartment.broker.last_name}}</h6>
                                        <span>{{apartment.broker.country}}</span>
                                        <a class="primary-btn" href="{{ url_for('agent.profile', agent_name=apartment.broker.first_name, agent_last_name=apartment.broker.last_name) }}"> View profile</a>
                                    </div>
                                    <div class="at-option">

                                        <div class="at-number">{{apartment.broker.phone_no}}</div>

                                        <div class="at-social">
                                              {% if apartment.broker.facebook_name %}
                                            <a href="https://web.facebook.com/{{apartment.broker.facebook_name}}"><i class="fa fa-facebook"></i></a>
                                           {% endif %}
                                              {% if apartment.broker.twitter_name %}
                                            <a href="https://www.twitter.com/{{apartment.broker.twitter_name}}"><i class="fa fa-twitter"></i></a>
                                            {% endif %}
                                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="pd-widget">
                            <h4>{{review.total}} Reviews</h4>
                            {% for rev in review.items %}
                            <div class="pd-review">
                                <div class="pr-item">
                                    <div class="pr-avatar">
                                        <div class="pr-text">
                                            <h6>{{rev.first_name}}</h6>
                                             <span>{{rev.email}}</span>
                                            <span>{{rev.date_comment.strftime("%d-%B-%Y")}}</span>

                                        </div>
                                        {{ rev.message }}
                                    </div>

                                    </div>

                            </div>
                            {% endfor %}
                                                    </div>





                        <div class="pd-widget">
                            <h4>Your Comment</h4>
                             <form method=POST enctype=multipart/form-data class="review-form" action="">
        {{ form.hidden_tag() }}
                                <div class="group-input">

                                    {{ form.name ( placeholder="Name")}}

                                    {{ form.email(placeholder="Email")}}

                                </div>
                                {{form.message(placeholder="Messages")}}

                                {{form.submit(class="site-btn")}}
                                     </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="property-sidebar">
                        <div class="single-sidebar slider-op">
                            <div class="section-title sidebar-title">
                                <h5>Featural categories</h5>
                            </div>
                            <div class="sf-slider owl-carousel">
                                <div class="sf-item set-bg" data-setbg=" {{  url_for('static', filename= 'img/categories/cat-1.jpg') }}">
                                    <div class="sf-text">
                                        <h5>House</h5>

                                    </div>
                                </div>
                                <div class="sf-item set-bg" data-setbg=" {{  url_for('static', filename= 'img/categories/cat-2.jpg') }}">
                                    <div class="sf-text">
                                        <h5>Apartment</h5>

                                    </div>
                                </div>
                                <div class="sf-item set-bg" data-setbg=" {{  url_for('static', filename= 'img/categories/cat-3.jpg') }}">
                                    <div class="sf-text">
                                        <h5>Condominium</h5>

                                    </div>
                                </div>
                                <div class="sf-item set-bg" data-setbg=" {{  url_for('static', filename= 'img/categories/cat-4.jpg') }}">
                                    <div class="sf-text">
                                        <h5>Office</h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-sidebar">
                            <div class="section-title sidebar-title">
                                <h5>mortgage calculator</h5>
                            </div>
                            <form action="/calc" method="post" class="calculator-form">
                                <div class="filter-input">
                                    <p>Price</p>
                                    <input id="live" type="text" placeholder="$" required>
                                </div>

                                <div class="filter-input">
                                    <p>Term(year)</p>
                                    <input id="live1" type="text" placeholder="Year" required>
                                </div>
                                <div class="filter-input">
                                    <p>Interest Rate in %</p>
                                    <input id="live2" type="text" placeholder="%" required>
                                </div>
                                <button type="button" id="task" class="site-btn">Calculate</button>
                            </form>
                            <h2 id="datalis"></h2>
                            <script src="{{ url_for('static', filename='ajax.js') }}"></script>
                            <script>
                                $(document).ready(function(){
    $("#task").on('click',function(e){
                text= $("#live").val();
                text1= $("#live1").val();
                text2= $("#live2").val();
            console.log(text);

console.log(text1);
console.log(text2);
               $.ajax({
                method: "post",
                url: '/calc',
                data: {text: text, text1:text1, text2:text2},
                success: function(res){
                        console.log(res);

                $("#datalis").html('$'+res+'');
            }
          });
          });
          });

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Property Details Section End -->

{%endblock content%}