{%extends 'layout.html'%}
{% block content%}

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="icon_close"></span>
        </div>
        <div class="logo">
           <a  href="{{ url_for('main.home') }}">

                   <h2>Souia</h2>
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="om-widget">

               <a class="hw-btn"  href="{{ url_for('main.property_submit') }}">Submit property</a>
        </div>

    </div>
    <!-- Offcanvas Menu Wrapper End -->



    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section spad set-bg" data-setbg=" {{ url_for('static', filename='img/breadcrumb-bg.jpg') }}" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h4>Property comparison</h4>
                        <div class="bt-option">
                            <a  href="{{ url_for('main.home') }}"><i class="fa fa-home"></i> Home</a>
                            <a  href="{{ url_for('main.property_list') }}">Property</a>
                            <span>Compare</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Property Comparison Section Begin -->
    <div class="property-comparison-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="pc-table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="type">Type</th>
                                    <th class="compare-item middle-item">
                                        <div class="title">{{apartment.property_type}}</div>

                                    <img alt="" src="{{ url_for('static', filename= 'Apartment_pics/' + apartment.image_file) }}">
                                        <div>{{apartment.apartment_name}}</div>
                                        <p><span class="icon_pin_alt"></span> {{apartment.location}}, {{apartment.neighbourhood}}, {{apartment.postal_code}}, {{apartment.city}} {{apartment.country}}</p>
                                    </th>
                                    <th class="compare-item right-item">
                                        <div class="title">{{apt.property_type}}</div>
            <img alt="" src="{{ url_for('static', filename= 'Apartment_pics/' + apt.image_file) }}">
                                        <div>{{apt.apartment_name}}</div>
                                        <p><span class="icon_pin_alt"></span> {{apt.location}}, {{apt.neighbourhood}}, {{apt.postal_code}}, {{apt.city}} {{apt.country}}</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-type">Status</td>
                                    <td>{{apartment.property_status}}</td>
                                    <td>{{apt.property_status}}</td>
                                </tr>
                                <tr>
                                    <td class="p-type">Size</td>
                                    <td>{{apartment.area_size}} {{apartment.size_prefix}}</td>
                                    <td>{{apt.area_size}} {{apt.size_prefix}}</td>
                                </tr>
                                <tr>
                                    <td class="p-type">Rooms</td>
                                    <td>{{apartment.no_of_bedrooms}}</td>
                                    <td>{{apt.no_of_bedrooms}}</td>
                                </tr>
                                <tr>
                                    <td class="p-type">Bathrooms</td>
                                    <td>{{apartment.no_of_bathrooms}}</td>
                                    <td>{{apt.no_of_bathrooms}}</td>
                                </tr>
                                <tr>
                                    <td class="p-type">Garages</td>
                                    <td>{{apartment.no_of_garages}}</td>
                                    <td>{{apt.no_of_garages}}</td>
                                </tr>
                                <tr>
                                    <td class="p-type">Price</td>
                                    {% if apartment.price_label == 'full sale' %}
                                    <td>${{apartment.price}} </td>
                                    {% else %}
                                    <td>${{apartment.price}}<span>/{{apartment.price_label}}</span></td>
                                    {% endif %}
                                    {% if apt.price_label == 'full sale'%}
                                    <td>${{apt.price}} </td>

                                    {% else %}
                                    <td>${{apt.price}} <span>/{{apt.price_label}}</span></td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <td class="p-type">Air conditioning</td>
                                    {% if apartment.air_conditioning == True%}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                                    <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.air_conditioning == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                                    <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Laundry</td>
                                    {% if apartment.laundry == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                                    <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.laundry == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                                 <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Refrigerator</td>
                                    {% if apartment.refrigerator == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.refrigerator == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Washer</td>
                                    {% if apartment.washer == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.washer == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Balcony</td>
                                    {% if apartment.barbecue == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.barbecue == True %}
                                     <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Lawn</td>
                                    {% if apartment.lawn==True%}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.lawn == True%}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Dryer</td>
                                    {%if apartment.dryer == True%}
                                   <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                      {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.dryer == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Fireplace</td>
                                    {% if apartment.villa == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.villa == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Swimming pool</td>
                                    {% if apartment.swimming_pool == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                                 <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.swimming_pool == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}

                              <td class="icon-close"><span class="icon_close_alt2"></span></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Gym</td>
                                    {% if apartment.gym == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.gym == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Outdoor Shower</td>
                                    {%if apartment.outdoor_shower ==True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.outdoor_shower == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Window Coverings</td>
                                    {% if apartment.window_coverings == True%}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.window_coverings == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                      {%else%}

                              <td class="icon-close"><span class="icon_close_alt2"></span></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Tv Cable</td>
                                    {% if apartment.tv_cable == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                   {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.tv_cable == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="p-type">Wifi</td>
                                    {% if apartment.wifi == True%}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                 {%else%}
                                   <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.wifi == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                            <tr>
                                    <td class="p-type">Sauna</td>
                                    {% if apartment.sauna == True%}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                 {%else%}
                                   <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                    {% if apt.sauna == True %}
                                    <td class="icon-check"><span class="icon_check_alt2"></span></td>
                                    {%else%}
                              <td class="icon-close"><span class="icon_close_alt2"></span></td>

                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Property Comparison Section End -->

{%endblock content%}