{%extends 'layout.html'%}
{% block content%}


    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="icon_close"></span>
        </div>
        <div class="logo">
            <a  href="{{ url_for('main.home') }}">

                  <h2>Souia</h2>       </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="om-widget">

               <a class="hw-btn"  href="{{ url_for('main.property_submit') }}">Submit property</a>
        </div>

    </div>
    <!-- Offcanvas Menu Wrapper End -->


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section spad set-bg" data-setbg="{{  url_for('static', filename= 'img/breadcrumb-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h4>Property Submit</h4>
                        <div class="bt-option">
                            <a href="{{ url_for('main.home') }}"><i class="fa fa-home"></i> Home</a>
                            <a  href="{{ url_for('main.property_list') }}">Properties </a>
                            <span>Submit</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
<style>
    .sty{
    color:#7b1bf0;
    }
</style>


    <!-- Property Submit Section Begin -->
    <section class="property-submit-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="property-submit-form">
                         <form method="POST" action="" enctype="multipart/form-data" >
                                {{ form.hidden_tag() }}
                             <fieldset>

                            <div class="pf-title">
                                <h4 style="margin-bottom: 15px;">Property Name</h4>
                                <p class="sty">Name should begin with a capital letter</p>

                                {{ form.apartment_name (type="text", placeholder="Property Name*")}}
                            </div>
                            <div class="pf-summernote">
                                <h4>Description</h4>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link texteditor-switch" data-toggle="tab" href="#tabs-1" role="tab">Text</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link texteditor-switch active" data-toggle="tab" href="#tabs-2" role="tab">Visual</a>
                                    </li>
                                </ul>

                                {{form.description (class="texteditor-content")}}
                            </div>
                            <div class="pf-location">
                                <h4>Property Location</h4>
                                <div class="location-inputs">
                                    {{ form.location (placeholder="Address*", type="text")}}
                                    {{ form.neighborhood (placeholder="Neighborhood*", type="text")}}
                                    {{ form.city (placeholder="City*", type="text")}}
                                    <!--<input type="text" placeholder="State">-->
                                    {{ form.country (placeholder="Country*", type="text")}}
                                    {{ form.postal_code (placeholder="Posta Code / Zip*", type="text")}}

                                </div>
                            </div>
                            <div class="pf-map">
                                <h4>Google Map</h4>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="map-inputs">
                                            <input type="text" placeholder="Latitude">
                                            <input type="text" placeholder="Longitude">
                                            <input type="text" placeholder="Street View">
                                        </div>
                                        <button type="button" class="site-btn">PPlace the pin the address above</button>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="g-map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735515.5813275519!2d-80.41163541934742!3d43.93644386501528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a55bbf3de23d7%3A0x3ada5af229b47375!2sMono%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sbd!4v1583262687289!5m2!1sen!2sbd" height="245" style="border:0;" allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pf-type">
                                <h4 style="margin-bottom: 15px;">Property type</h4>
                                <div class="status-item">
                                    <p class="sty">Select type of property </p>
                                     {{form.property_type}}
                                </div>
                            </div>
                             <br>
                             <br>
                            <div class="pf-status">
                                <h4 style="margin-bottom: 15px;">Property status</h4>
                                <p class="sty">Select property status </p>

                                <div class="status-item">
                                    {{form.property_status}}
                                </div>
                            </div>
                             <br>
                             <br>

                            <div class="pf-feature-price">
                                <h4 style="margin-bottom: 15px;">Featured Price</h4>
                                 <p class="sty">Fix a price for your property </p>
                                <div class="fp-inputs">
                                    {{ form.price (type="text", placeholder="Price*")}}
                                    {{ form.second_price (type="text", placeholder="Second Price ( Optional )")}}
                                     <p class="sty">Choose term of payment</p>
                                    {{ form.price_label }}
                                </div>
                            </div>
<br>
                                 <br>
                            <div class="pf-feature">
                                <h4>Property Features</h4>
                                <div class="features-list">
                                    <div class="feature-item">

                                        <label for="air_conditioning">Air Conditioning

                                       {{ form.air_conditioning }}
                                            <span  class="checkbox"> </span>
                                        </label>

                                        <label for="laundry">Laundry
                                            {{form.laundry}}
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="refrigerator">Refrigerator
                                            {{form.refrigerator}}
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="washer">Washer
                                            {{form.washer}}
                                            <span class="checkbox"></span>
                                        </label>
                                    </div>
                                    <div class="feature-item">
                                        <label for="balcony">Balcony
                                            {{form.balcony}}
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="lawn">Lawn
                                            {{form.lawn}}
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="sauna">Sauna
                                            {{form.sauna}}
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="wifi">Wifi
                                            {{form.wifi}}
                                            <span class="checkbox"></span>
                                        </label>
                                    </div>
                                    <div class="feature-item">
                                        <label for="dryer">Dryer
                                            {{form.dryer}}
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="fireplace">Fireplace
                                            {{form.fireplace}}
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="swimming_pool">Swimming Pool
                                            {{form.swimming_pool}}
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="window_coverings">Window Coverings
                                            {{form.window_coverings}}
                                            <span class="checkbox"></span>
                                        </label>
                                    </div>
                                    <div class="feature-item">
                                        <label for="gym">Gym
                                            {{form.gym}}
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="outdoor_shower">OutdoorShower
                                           {{form.outdoor_shower}}
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="tv_cable">Tv Cable
                                            {{form.tv_cable}}
                                            <span class="checkbox"></span>
                                        </label>
                                        <label for="microwave">Microwave
                                            {{form.microwave}}
                                            <span class="checkbox"></span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="pf-feature-image">
                                <h4 style="margin-bottom: 15px;">Property Images</h4>
                                    <p class="sty">All file sizes should be above 100kb </p>

<div class="wrap">
    <div class="valign-middle">
  <div class="form-group">

 {{ form.photo(class="") }}

                      {{ form.photo.label(class="sr-only") }}

                                    {{ form.photo1() }}

                      {{ form.photo1.label(class="sr-only") }}

                                    {{ form.photo2(class="") }}

                      {{ form.photo2.label() }}

                                 {{ form.photo3(class="") }}

                      {{ form.photo3.label() }}


                      {{ form.photo4.label() }}
                                 {{ form.photo4(class="") }}

                      {{ form.photo5.label() }}
                                 {{ form.photo5(class="") }}

                      {{ form.photo6.label() }}
                                 {{ form.photo6(class="") }}

                      {{ form.photo7.label() }}
                                {{ form.photo7(class="") }}

                      {{ form.photo8.label() }}
                                {{ form.photo8(class="") }}

                      {{ form.photo9.label() }}
                                 {{ form.photo9(class="") }}

                      {{ form.photo0.label() }}
                                {{ form.photo0 }}





                                   <div class="pf-feature-image">
                                <h4>Floor Plan Image</h4>

                                    {{ form.front_plan(class="") }}

                      {{ form.front_plan.label() }}
                                   </div>
       </div>
    </div>
</div>


                            <div class="pf-property-details">
                                <h4>Property details</h4>
                                <div class="property-details-inputs">

                                    {{ form.property_id (type="number", placeholder="Property ID*")}}
                                    {{ form.area_size (type="number", placeholder="Area Size ( Only digits )*")}}

                                    {{ form.no_of_bedrooms (type="number", placeholder="Bedrooms*")}}
                                    {{ form.no_of_bathrooms (type="number", placeholder="Bathrooms*")}}
                                    {{ form.no_of_garages (type="number", placeholder="Garages*")}}

                                    <input type="text" placeholder="Garages Size">
                                    {{ form.year_built (type="date", placeholder="Year Built*")}}
                                    {{ form.video_data.label() }}
                                 {{ form.video_data(class="") }}
                                </div>
                            </div>
                                <script src="{{ url_for('static', filename='ajax.js') }}"></script>
 <script src="{{ url_for('static', filename='file_upload.js') }}"></script>
                             </fieldset>

                                {{ form.submit(class="site-btn")}}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Property Submit Section End -->

{%endblock content%}