{%extends 'layout.html'%}
{% block content%}

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="icon_close"></span>
        </div>
        <div class="logo">
            <a  href="{{ url_for('main.home') }}">

                  <img alt="" src="{{ url_for('static', filename='img/logo.png') }}">
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="om-widget">

               <a class="hw-btn"  href="{{ url_for('main.property_submit') }}">Submit property</a>
        </div>
        <div class="om-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Wrapper End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="hs-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a  href="{{ url_for('main.home') }}">
                                 <img alt="" src="{{ url_for('static', filename='img/logo.png') }}"></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="ht-widget">

                               <a class="hw-btn"  href="{{ url_for('main.property_submit') }}">Submit property</a>
                        </div>
                    </div>
                </div>
                <div class="canvas-open">
                    <span class="icon_menu"></span>
                </div>
            </div>
        </div>
        <div class="hs-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <nav class="nav-menu">
                            {% if current_user.is_authenticated%}

                                <h6>{{current_user.first_name}} {{current_user.last_name}}</h6>
                            {% endif %}
                            <ul>
                                <li><a  href="{{ url_for('main.home') }}">Home</a></li>
                                <li class="active"><a href="#">Properties</a>
                                    <ul class="dropdown">

                                        <li><a  href="{{ url_for('main.property_list') }}">Property Grid</a></li>

                                        <li><a  href="{{ url_for('main.property_comparison') }}">Property Comperison</a></li>
                                        <li><a  href="{{ url_for('main.property_submit') }}">Property Submit</a></li>
                                    </ul>
                                </li>
                                     <li><a  href="{{ url_for('agent.agents') }}">Owners/Agents</a></li>
                                   {% if not current_user.is_authenticated%}
                                <li><a  href="{{ url_for('agent.register') }}">Register as an Owner/Agent</a></li>
                                 <li><a  href="{{ url_for('agent.login') }}">Login <i class="fa fa-user"></i></a></li>
                                {%endif%}
                                <li><a href="./blog.html">Blog</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="hn-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section spad set-bg" data-setbg="static/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h4>Registration</h4>
                        <div class="bt-option">
                            <a href="{{ url_for('main.home') }}"><i class="fa fa-home"></i> Home</a>
                            <span>Register</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Property Submit Section Begin -->
    <section class="property-submit-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="property-submit-form">
                         <form method="POST" action="" enctype="multipart/form-data" >
                                {{ form.hidden_tag() }}
                             <fieldset>
                                 <div class="pf-title">
                                <h4>First  Name</h4>

                                {{ form.agent_first_name (type="text", placeholder="First Name*")}}
                                     <br>
                                     <br>
                                     <h4>Last Name</h4>

                                {{ form.agent_last_name (type="text", placeholder="Last Name*")}}
                                     <br>
                                     <br>
                                     <h4>Country</h4>

                                {{ form.country (type="text", placeholder="Country*")}}
                                     <br>
                                     <br>
                                      <h4>Gender</h4>
                                     {{form.gender}}
                                     <br>
                                     <br>
                                     <br>
                                     <h4>Email</h4>

                                {{ form.agent_email (type="email", placeholder="Email address*")}}
                                     <br>
                                     <br>
                                      <h4>Phone Number</h4>

                                {{ form.agent_phone_no (type="text", placeholder="Phone Number*")}}
                                     <br>
                                     <br>
                                     <h4>Password</h4>

                                {{ form.agent_password (type="password", placeholder=" Enter Password*")}}
                                     <br>
                                     <br>
                                        <h4>Confirm Password</h4>

                                {{ form.confirm_password (type="password", placeholder="Confirm Password*")}}
                                     <br>
                                     <br>
                                     <h4>Agent/Owner Image</h4>

                                    {{ form.agent_photo(class="") }}

                      {{ form.agent_photo.label() }}

                            </div>
                             </fieldset>
                             {{ form.submit(class="site-btn")}}
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content%}