{%extends 'layout.html'%}
{% block content%}

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Wrapper Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <span class="icon_close"></span>
        </div>
        <div class="logo">
            <a  href="{{ url_for('main.home') }}">

                   <h2>Souia</h2>
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="om-widget">

               <a class="hw-btn"  href="{{ url_for('main.property_submit') }}">Submit property</a>
        </div>

    </div>
    <!-- Offcanvas Menu Wrapper End -->



    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section spad set-bg" data-setbg="static/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h4>Registration</h4>
                        <div class="bt-option">
                            <a href="{{ url_for('main.home') }}"><i class="fa fa-home"></i> Home</a>
                            <span>Register</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Property Submit Section Begin -->
    <section class="property-submit-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="property-submit-form">
                         <form method="POST" action="" enctype="multipart/form-data" id="regForm">
                                {{ form.hidden_tag() }}
                             <fieldset>
                                 <div class="pf-title">
                                <h4  >First  Name</h4>


                                {{ form.agent_first_name (type="text", placeholder="First Name*",  id="name" )}}
                                      <p id="p1"></p>
                                     <br>
                                     <br>
                                     <h4>Last Name</h4>

                                {{ form.agent_last_name (type="text", placeholder="Last Name*")}}
                                     <br>
                                     <br>
                                     <h4>Country</h4>

                                {{ form.country (type="text", placeholder="Country*")}}
                                     <br>
                                     <br>
                                      <h4>Gender</h4>
                                     {{form.gender}}
                                     <br>
                                     <br>
                                     <br>
                                     <h4  >Email</h4>

                                {{ form.agent_email (type="email", placeholder="Email address*", id="email")}}
                                      <p id="p2"></p>
                                     <br>
                                     <br>
                                      <h4 style="margin-bottom: 15px;">Phone Number</h4>
                                                <p>Format +country code -0000-0000</p>
                                {{ form.agent_phone_no (type="tel", placeholder="Phone Number*", id="phone_no")}}
                                      <p id="p4"></p>
                                     <br>
                                     <br>
                                     <h4 style="margin-bottom: 15px;">Password</h4>
                                {{ form.agent_password (type="password", placeholder=" Enter Password*",  id="password", pattern="^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(^[a-zA-Z0-9@\$=!:.#%]+$)")}}
                                    <span class="error" style="color:red;" aria-live="polite"></span>
                                     <p id="p3"></p>
                                     <br>
                                     <br>
                                        <h4>Confirm Password</h4>

                                {{ form.confirm_password (type="password", placeholder="Confirm Password*")}}
                                     <br>
                                     <br>
                                     <h4>Agent/Owner Image</h4>
<script>
   updateList = function() {
      var input = document.getElementById('agent_photo');
      var output = document.getElementById('fileList');
      var children = "";
      for (var i = 0; i < input.files.length; ++i) {
          children +=  '<li>'+ input.files.item(i).name + '<span class="remove-list" onclick="return this.parentNode.remove()">X</span>' + '</li>'
      }
      output.innerHTML = children;
  }</script>


<div class="custom-file">

                                   <input class="custom-file-input" id="agent_photo" name="agent_photo" onchange="javascript:updateList()" required type="file">

                     <label class="custom-file-label" for="agent_photo"><img width="30" src="https://image.flaticon.com/icons/svg/54/54565.svg" /> Upload Profile Image</label>
</div>
<ul id="fileList" class="file-list"></ul>

                            </div>

                             </fieldset>
                             {{ form.submit(class="site-btn",  id="submit")}}
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='form_validate.js') }}"></script>
    <script src="{{ url_for('static', filename='password_validate.js') }}">

</script>

{% endblock content%}